<h1>My Incoming Friend Requests</h1>
<ul>
  <% @friend_requests.each do |request| %>
    <li>
      <% inviter = User.find(request.user_id)%>
      <%= inviter.name%> 
      <%= link_to 'Accept', friendship_path(id: request.user_id), method: 'PATCH', class: 'btn btn-primary'%>
      <%= link_to 'Decline', friendship_path(id: request.user_id), method: 'DELETE', class: 'btn btn-danger'%>
    </li>
    <br/>
  <% end %>
</ul>