<h1>My Incoming Friend Requests</h1>
<ul>
  <% @friend_requests.each do |request| %>
    <li>
      <% inviter = User.find(request.user_id)%>
      <%= inviter.name%> 
      <span><%= link_to 'Accept', friendship_path(id: request.user_id), method: 'PATCH'%></span>
    </li>
  <% end %>
</ul>