<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <% if !request_already_sent?(@user) && current_user!= @user %>
    <span>
      <%= link_to 'Add Friend', friendships_path(friendship: {user_id:current_user.id, friend_id:@user.id, confirmed:nil}), method: :post, class: 'btn btn-primary' %>
    </span>
  <% end %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
